@using KAShop1.Models.ViewModels

@model List<ProductsViewModel>



@if (!Model.Any())
{
    <div class="alert alert-warning ">No Product Found</div>
}
else
{

    <!-- /.card-header -->
    <table class="table table-bordered table-fixed" role="table">
        <thead>
            <tr>
                <th style="width: 10px" scope="col">#</th>
                <th scope="col">Name</th>
                <th style="width:40px;" scope="col">Image</th>
                @*<th scope="col">Category</th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model)
            {
                <tr class="align-middle">
                    <td>@Product.Id</td>
                    <td>@Product.Name</td>
                    <td class="img-cell">
                        <img src="@Product.Image" width="200px" />
                    </td>
                    @*<td>@Product.Category.Name</td>*@
                    <td>
                        <a class=" btn btn-danger" asp-controller="Products"
                           asp-action="remove" asp-route-id="@Product.Id">Delete</a>

                        <a class=" btn btn-info" asp-controller="Products"
                           asp-action="edit" asp-route-id="@Product.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- /.card-body -->
<div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-end">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">»</a></li>
    </ul>
</div>


